.center {
    margin: auto;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-size: medium;
  }
  
  li a:hover:not(.active) {
    background-color: #ddd;
  }
  
  .fa {
    font-size: x-large;
  }

  .logo {
      width: 80px;
  }

  .welcome {
    text-align: center;
    font-family: sans-serif;
  }

  * {
    box-sizing: border-box;
  }

  /* style the container */
.container {
    position: relative;
    border-radius: 5px;
    padding: 20px 0 30px 0;
  } 
  
  /* style inputs and link buttons */
  input,
  .btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    background-color: #f3f3f3;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
  }
  
  input:hover,
  .btn:hover {
    opacity: 1;
  }


  /* style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* Two-column layout */
  .col {
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .main_button {
    font-family: sans-serif;
    margin: 10px 0 0 20px;
  }

  .btn_img {
    width: 350px;
  }

  .img {
    height: 550px;
    width: 100%;
  }

  .searchButton {
    width: 40px;
    height: 35px;
    border: 1px solid #545858;
    background: #545858;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }

  .search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 1px solid #545858;
    border-right: none;
    padding: 5px;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  .searchTerm:focus{
    color: #545858;
  }

  .wrap{
    width: 30%;
    position: absolute;
    top: 26px;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .col {
      width: 100%;
      margin-top: 0;
    }

    .main_button {
      width: 100%;
    }
  }